<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="global.js"></script>
    <title>Practice Slideshow</title>
  </head>
  <body>
    <p>The current time is <strong><%= Time.now %></strong>.</p>
    
     <div class="slidebox">
       <h1 id="title">Title goes here</h1>
       <p id="body">Text body goes here.</p>
     </div>
     
      
      <a href="javascirpt:void(0)" id="previous" onclick="goBack()">Previous</a>
      
      <a href="javascript:void(0)" id="next" value ="<%= @slide_count %>" onclick="getNextPage()" > Next </a>
    
  </body>
</html>