<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="global.js"></script>
    <title>Practice Slideshow</title>
  </head>
  <body>
    <p>The current time is <strong><%= Time.now %></strong>.</p>
    
    <a href="slide/1">Start Slideshow</a>
    
  </body>
</html>