<!DOCTYPE html>
<html>
  <head>
    <title>Practice Slideshow</title>
  </head>
  <body>
  <h3>Practice Slideshow</h3>    
    <p>Register:</p>
    <form action="/user/register" method="post">
      <label for="name">Name:</label>
      <input name="name">
      <label>Password:</label>
      <input type="password" name="password">
      <input type="submit">
    </form>
  </body>
</html>